* {
  border: none;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 24px;
  color: #d3c6aa;
  margin-left: 0px;
  margin-right: 0px;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

#workspaces,
#window,
#tray {
  /* background-color: rgba(15, 27, 53, 0.8); */
  background-color: rgba(46, 56, 60, 0.8);
  padding: 4px 16px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 10px;
  border-width: 0px;
  min-width: 128px;
}

#mpris,
#custom-lock {
  background-color: rgba(46, 56, 60, 0.8);
  margin-top: 6px;
  margin-left: 6px;
  padding: 4px 16px;
  border-radius: 10px 0 0 10px;
  border-width: 0px;
}

#cpu,
#memory,
#power-profiles-daemon,
#battery,
#wireplumber,
#network,
#custom-reboot {
  background-color: rgba(46, 56, 60, 0.8);
  margin-top: 6px;
  padding: 4px 16px;
}

#clock,
#custom-power {
  background-color: rgba(46, 56, 60, 0.8);
  margin-top: 6px;
  margin-right: 16px;
  padding: 4px 16px;
  border-radius: 0 10px 10px 0;
  border-width: 0px;
}

#workspaces button.active {
  background-color: #4f5b58;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button {
  background: transparent;
  border: none;
  padding: 2px 8px;
  margin: 0px 2px;
  border-radius: 10px;
  font-weight: bold;
}
